@font-face{
    font-family: RobotoMono;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf)
}

@font-face{
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf)
}

@font-face{
    font-family: Source Code Pro ;
    src: url(fonts/SourceCodePro-VariableFont_wght.ttf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: RobotoMono;
  }

a{
    text-decoration: none;
    color: white;
}

.red{
    color: #CC100D;
}

.header, .header-portfolio{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    background-color: transparent;
}

nav{
    width: 32%;
    background-color: rgb(15, 15, 15);
    border-radius: 0 0 3px 3px;
    padding: 0 0 0.1%
}

.nav{
    margin: 0 1.5% 0%;
    padding: 0 0 0.1%;    
    font-size: 180%;
    position: relative;
    display: inline-block;
    transition: color 0.5s ease-in-out;
}

.nav::before, .nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.nav::before {
    left: 50%;
    width: 0;
}

.nav::after {
    right: 50%;
    width: 0;
}

.nav:hover::before {
    width: 50%;
    left: 0;
}

.nav:hover::after {
    width: 50%;
    right: 0;
}

.nav:hover {
    color: #CC100D;
}

section{
    width: 100%;
    height: 100vh;
    float: left;
    scroll-snap-align: center;
    scroll-behavior: smooth;
}

#Home{
    height: 120vh;
    background-color: rgb(15, 15, 15);
    border-bottom: 1vh #141414 solid;
    border-radius: 0 0 20vh 20vh;
}

.salute {
    font-size: 450%;
    text-align: center;
}

.welcome{
    font-size: 300%;
    text-align: left;
}

.title{
    font-size: 300%;
    text-align: right;
    padding: 0;
}

.title .red, .welcome .bigger{
    font-size: 150%;
}

.name{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.firstname, .lastname {
    font-size: 550%;
    text-align: center;
    padding: 0;
}

.social{
    border-top: solid white 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
}

.social-link-ig, .social-link-fb, .social-link-x, .social-link-gh{
    margin: 2% 4% 0;
}

.social-icon {
    position: relative;
    width: 60px;
    height: 60px;
}

.social-icon img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}

.social-icon .hover-img {
    opacity: 0;
}

.social-icon:hover .default-img {
    opacity: 0;
}

.social-icon:hover .hover-img {
    opacity: 1;
}

.social-icon.instagram {
    background-image: url('images/social/Instagram.png');
}

.social-icon.instagram:hover {
    background-image: url('images/social/Instagram_hover.png');
}

.social-icon.facebook {
    background-image: url('images/social/Facebook.png');
}

.social-icon.facebook:hover {
    background-image: url('images/social/Facebook_hover.png');
}

.social-icon.GitHub {
    background-image: url('images/social/GitHub.png');
}

.social-icon.GitHub:hover {
    background-image: url('images/social/GitHub_hover.png');
}

.container-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5%;
    width: 45%;
    height: 75vh;
}

.home-info{
    position: relative;
    top: -50vh;
    text-align: center;
    width: 45%;
    transform-origin: center center;
}

footer{
    text-align: center;
}

.section-title{
    font-size: 350%;
    margin: 2% 0 2.5% 6.4%;
}

.about-border, .portfolio-border{
    width: 80%;
    margin: 2.5% 0;
    border: white 2px solid;
}

#About{
    height: 130vh;
    margin: 20vh 0 0;
}

.about-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.details-title{
    font-size: 200%;
    margin: 0 0 2.5%;
}

.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    font-size: 200%;
    font-family: Inter;
    text-align: center;
    margin: 2.5% 0 0;
}

.about-study{
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.school{
    width: 80%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: white 2px solid;
    border-radius: 3px;
    text-align: center;
    font-family: Source Code Pro;
    font-size: 150%;
    margin: 0 0 3.5%;
    padding: 1.5%;
}

#baltaci-link{
    position: relative;
    display: inline-block;
    transition: color 0.5s ease-in-out;
}

#baltaci-link::before, #baltaci-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

#baltaci-link::before {
    left: 50%;
    width: 0;
}

#baltaci-link::after {
    right: 50%;
    width: 0;
}

#baltaci-link:hover::before {
    width: 50%;
    left: 0;
}

#baltaci-link:hover::after {
    width: 50%;
    right: 0;
}

#baltaci-link:hover {
    color: #CC100D;
}

.about-skills{
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.skills{
    display: flex;
    width: 79%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    margin: 1.5% 0 0;
}

.skill{
    font-family: Source Code Pro;
    font-size: 150%;
    background-color: #0f0f0f;
    border: 2px #CC100D solid;
    border-radius: 3px;
    padding: 1.5%;
    margin: 0 0 5%;
    transition: all 0.5s ease-in-out;
}

.skill:hover{
    color:#CC100D
}

#Portfolio{
    height: 270vh;
}

.portfolio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-text{
    width: 80%;
    font-size: 200%;
    font-family: Source Code Pro;
    text-align: center;
    margin-top: 2.5%;
}

.portfolio-more{
    display: flex;
    justify-content: center;
}

.portfolio-button{
    font-size: 220%;
    font-family: Source Code Pro;
    border: white 2px solid;
    border-radius: 3px;
    padding: 8% 44%;
    transition: all 0.5s ease-in-out;
}

.portfolio-button:hover{
    background-color: rgb(15, 15, 15);
    color: #CC100D;
}

#horizontal{
    display: flex;
    overflow-x: hidden;
    align-items: center;
    height: 100vh;
}

#horizontal .portfolio-image{
    display: grid;
    flex-shrink: 0;
    place-items: center;
    overflow: hidden;
}

.portfolio-image{
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin: 0 1%;
}

.plakat{
    object-position:top;
}

.jelen{
    object-position:bottom;
}

#Contact{
    height: 120vh;
    background-color: #0f0f0f;
    padding: 20vh 0 0;
    border-top: 1vh #141414 solid;
    border-radius: 20vh 20vh 0 0;
}

.contact-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact-input{
    display: flex;
    width: 45%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.custom-input,
.custom-textarea{
    position: relative;
    font-size: 150%;
    padding: 20px 0 0;
    font-family: Source Code Pro;
}

.custom-input input,
.custom-textarea textarea{
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: white;
    padding: 15px;
    border-radius: 3px;
    outline: none;
    font-size: 100%;
    font-family: Inter;
}

.first-name input, .last-name input{
    width: 340px;
}

.e-mail input, .phone-number input{
    width: 700px;
}

.custom-input .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #c8c8c8;
    transition: 
        top 0.3s ease-in-out,
        font-size 0.5s ease,
        color 0.5s ease-in-out;
}

.custom-input input:valid + .placeholder,
.custom-input input:focus + .placeholder,
.custom-textarea textarea:valid + .placeholder,
.custom-textarea textarea:focus + .placeholder{
    top: 5px;
    font-size: 100%;
    color: #CC100D;
}

.custom-input input,
.custom-textarea textarea{
    background: 
    linear-gradient(90deg, white, white) center bottom/0 2px no-repeat,
    linear-gradient(90deg, transparent, transparent) left bottom/100% 2px no-repeat,
    linear-gradient(90deg, #141414, #141414) left bottom/100% no-repeat;
    transition: background-size 0.5s ease-in-out;
}

.custom-input input:valid,
.custom-input input:focus,
.custom-textarea textarea:valid,
.custom-textarea textarea:focus {
    background-size: 100% 2px, 100% 2px, 100%;
}

.custom-textarea textarea{
    width: 700px;
    height: 250px;
    font-size: 90%;
    resize: none; 
    overflow-wrap: break-word;
}

.custom-textarea .placeholder {
    position: absolute;
    left: 12px;
    top: 50px;
    transform: translateY(-50%);
    color: #c8c8c8;
    transition: 
        top 0.3s ease-in-out,
        font-size 0.5s ease,
        color 0.5s ease-in-out;
}

.contact-button{
    font-size: 220%;
    font-family: Source Code Pro;
    border: white 2px solid;
    border-radius: 3px;
    margin: 2% 0 0;
    padding: 0.25% 2%;
    transition: all 0.5s ease-in-out;
}

.contact-button:hover{
    background-color: #141414;
    color: #CC100D;
}

.footer{
    background-color: #0f0f0f;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    border-top: #141414 4px solid;
}
.footer-social{
    display: flex;
    justify-content: center;
    margin: 0.5% 0 0;
    padding: 0 0 0.5%;
    border-bottom: white 2px solid;
    width: 25%;
}

.footer-social-link-ig, .footer-social-link-fb, .footer-social-link-x, .footer-social-link-gh{
    margin: 2% 4% 0;
}

.footer-social-icon {
    position: relative;
    width: 40px;
    height: 40px;
}

.footer-social-icon img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}

.footer-social-icon .hover-img {
    opacity: 0;
}

.footer-social-icon:hover .default-img {
    opacity: 0;
}

.footer-social-icon:hover .hover-img {
    opacity: 1;
}

.footer-social-icon.instagram {
    background-image: url('images/social/Instagram.png');
}

.footer-social-icon.instagram:hover {
    background-image: url('images/social/Instagram_hover.png');
}

.footer-social-icon.facebook {
    background-image: url('images/social/Facebook.png');
}

.footer-social-icon.facebook:hover {
    background-image: url('images/social/Facebook_hover.png');
}

.footer-social-icon.X {
    background-image: url('images/social/X.png');
}

.footer-social-icon.X:hover {
    background-image: url('images/social/X_hover.png');
}

.footer-social-icon.GitHub {
    background-image: url('images/social/GitHub.png');
}

.footer-social-icon.GitHub:hover {
    background-image: url('images/social/GitHub_hover.png');
}

.copyright{
    font-size: 120%;
    margin: 0.75% 0 0.25%;
}


#Projects{
    height: 200vh;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title{
    font-size: 250%;
    text-align: center;
    margin: 10vh 0 5vh;
}

#red-projects{
    font-size: 150%;
}

.projects-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.project{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 720px;
    font-size: 135%;
    background-color: #141414;
    border-bottom: white 2px solid;
    border-radius: 3px;
    margin: 2.5% 0 2.5%
}

.project-image{
    height: 180px;
    width: 360px;
    object-fit: cover;
}

.project-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 360px;
}

.project-text{
    display: flex;
    flex-direction: column;
    font-size: 115%;
}

.details{
    font-weight: bold;
    font-size: 110%;
    color: #CC100D;
}

.project-links{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 2.5% 0 0;
}

.project-social-icon {
    position: relative;
    width: 40px;
    height: 40px;
}

.project-social-icon img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}

.project-social-icon .hover-img {
    opacity: 0;
}

.project-social-icon:hover .default-img {
    opacity: 0;
}

.project-social-icon:hover .hover-img {
    opacity: 1;
}

.project-social-icon.WEB {
    background-image: url('images/social/WEB.png');
}

.project-social-icon.WEB:hover {
    background-image: url('images/social/WEB_hover.png');
}

.project-social-icon.GitHub {
    background-image: url('images/social/GitHub.png');
}

.project-social-icon.GitHub:hover {
    background-image: url('images/social/GitHub_hover.png');
}

.disabled {
  pointer-events: none;
  opacity: 0.25;
}

.brgrmenu{
    display: none;
}

@media screen and (max-width: 1640px) {
    nav{
        width: 50%;
    }
}
@media screen and (max-width: 900px) {
    .header{
        display: flex;
        width: 100%;
    }

    nav{
display: block;
width: 100%;
    }

.nav{
    display: none;
    width: 100%;
}

    .brgrmenu{
        display: block;
        max-height: 50px;
        margin: 0 0 0 2%;
    }

    #horizontal{
        display: none;
    }

    .custom-input input, .custom-textarea textarea{
        width: 340px;
    }

    .salute, .welcome, .title{
        width: 100%;
        text-align: center;
        font-size: 200%;
    }

    .bigger{
        font-size: 100%;
    }

.name{
    display: flex;
    flex-direction: column;
    gap: 0;
}

    .name h1{
        font-size: 300%;
    }
    .social{
        margin-top: 20%;
        border-top: none;
    }
    .social-icon {
        position: relative;
        width: 40px;
        height: 40px;
    }

    .section-title{
        font-size: 200%;
    }

    .about-container{
        flex-direction: column;
    }

    .about-text{
        font-size: 150%;
        width: 100%;
    }

    .about-border, .portfolio-border{
        border: none;
        margin: 10% 0 10%
    }

    .about-study, .about-skills{
        width: 100%;
    }

    .sch2{
        display: none;
    }

.about-skills{
    margin: 15% 0 0;
}

    .skill, .school{
        font-size: 120%;
    }

    #Portfolio{
        height: 100vh;
    }

    .portfolio-text{
        font-size: 150%;
    }

    .portfolio-button, .contact-button{
        font-size: 150%;
    }

    .contact-button{
        margin: 5% 0 0;
    }

    #Projects{
        height: 420vh;
    }

    .projects-title{
        font-size: 150%;
    }

    .project{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 320px;
        font-size: 135%;
        background-color: #141414;
        border-bottom: white 2px solid;
        border-radius: 3px;
        margin: 2.5% 0 2.5%
    }

    .project-image{
        height: 120px;
        width: 320px;
        object-fit: cover;
    }

}
