@font-face{
    font-family: RobotoMono;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf)
}

@font-face{
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: RobotoMono;
  }

a{
    text-decoration: none;
    color: white;
}

.red{
    color: #CC100D;
}

header{
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: rgb(20, 20, 20);
}

.nav{
    margin: 0 1.5% 0%;
    padding: 0 0 0.1%;    
    font-size: 180%;
    position: relative;
    display: inline-block;
    transition: color 0.5s ease-in-out;
}

.nav::before, .nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.nav::before {
    left: 50%;
    width: 0;
}

.nav::after {
    right: 50%;
    width: 0;
}

.nav:hover::before {
    width: 50%;
    left: 0;
}

.nav:hover::after {
    width: 50%;
    right: 0;
}

.nav:hover {
    color: #CC100D;
}

section{
    width: 100%;
    height: 100vh;
    float: left;
    scroll-snap-align: center;
    scroll-behavior: smooth;
}

.salute {
    font-size: 450%;
    text-align: center;
}

.welcome{
    font-size: 300%;
    text-align: left;
}

.title{
    font-size: 300%;
    text-align: right;
    padding: 0;
}

.title .red, .welcome .bigger{
    font-size: 150%;
}

.name{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.firstname, .lastname {
    font-size: 550%;
    text-align: center;
    padding: 0;
}

.social{
    border-top: solid white 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
}

.social-link-ig, .social-link-fb, .social-link-x, .social-link-gh{
    margin: 2% 4% 0;
}

.social-icon {
    position: relative;
    width: 60px;
    height: 60px;
}

.social-icon img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}

.social-icon .hover-img {
    opacity: 0;
}

.social-icon:hover .default-img {
    opacity: 0;
}

.social-icon:hover .hover-img {
    opacity: 1;
}

.social-icon.instagram {
    background-image: url('images/social/Instagram.png');
}

.social-icon.instagram:hover {
    background-image: url('images/social/Instagram_hover.png');
}

.social-icon.facebook {
    background-image: url('images/social/Facebook.png');
}

.social-icon.facebook:hover {
    background-image: url('images/social/Facebook_hover.png');
}

.social-icon.X {
    background-image: url('images/social/X.png');
}

.social-icon.X:hover {
    background-image: url('images/social/X_hover.png');
}

.social-icon.GitHub {
    background-image: url('images/social/GitHub.png');
}

.social-icon.GitHub:hover {
    background-image: url('images/social/GitHub_hover.png');
}

.container-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5%;
    width: 45%;
    height: 75vh;
}

.home-info{
    position: relative;
    top: -50vh;
    text-align: center;
    width: 45%;
    transform-origin: center center;
}

footer{
    text-align: center;
}

.section-title{
    font-size: 350%;
    margin: 2% 0 2.5% 10%
}

#About{
    height: 110vh;
}

.about-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.details-title{
    font-size: 200%;
    margin: 0 0 2.5%;
}

.about-text{
    width: 100%;
    font-size: 200%;
    font-family: Inter;
    text-align: center;
    margin-top: 2.5%;
}

.about-details{
    display: flex;
    width: 100%;
    margin: 2.5% 0 0;
}

.about-study{
    width: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.school{
    width: 80%;
    height: 20%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: white 2px solid;
    text-align: center;
    font-size: 132%;
    margin: 0 0 5%;
}

#baltaci-link{
    position: relative;
    display: inline-block;
    transition: color 0.5s ease-in-out;
}

#baltaci-link::before, #baltaci-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

#baltaci-link::before {
    left: 50%;
    width: 0;
}

#baltaci-link::after {
    right: 50%;
    width: 0;
}

#baltaci-link:hover::before {
    width: 50%;
    left: 0;
}

#baltaci-link:hover::after {
    width: 50%;
    right: 0;
}

#baltaci-link:hover {
    color: #CC100D;
}

.about-skills{
    width: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
}

.skill{
    font-size: 140%;
    color: white;
    border: 2px #CC100D solid;
    border-radius: 10px;
    padding: 2%;
    margin: 0 0 5%;
    transition: all 0.5s ease-in-out;
}

.skill:hover{
    color:#CC100D
}

.about-photo{
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.my-photo{
    margin: 5% 0 0 ;
    max-height: 400px;
}

#Portfolio{
    height: 200vh;
}

.portfolio-text{
    width: 80%;
    font-size: 200%;
    text-align: center;
    margin-top: 2.5%;
}

.portfolio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-content{
    margin-top: 10%;
    align-items: center;
}

.portfolio-image{
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.draggable-portfolio-image {
    cursor: grab;
}